
.cordefundo{
    background-color: rgb(85, 5, 18);
    height: 20%;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
}
 header h1{
     padding-top: 5%;
    display: inline-block;

}

header li{
    padding-bottom: 20px;
   
}

.imagem{
    width: 80px;
    
}

ul{
    list-style: none;
    display: inline-block;
    padding-top: 18%;
}

.paragrafo{
    padding-top: 25%;
    margin-right: 18%;
    padding-bottom: 3%;
    width: 500px;
    display: inline-block;


}
.yuri{
    margin-left: 5px;
    padding-top: 1px;
}

.borda{
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    width: 1500px;
    height: 1000px;
    text-align: center;
    margin-left: 70px;
    margin-top: 50px
}

.rodape{
    background-image: url(bg.jpg);
    margin-top: 50px;
    
}

#colorwhite{
    color: white;
    text-align: center;
}

.imagemrodape{
    width: 200px; height: 200px;
    margin-top: 10px;
}

main h5{
    text-align: center;
}

.tamanhocard{
    width: 30%;
}

.rodape{
    text-align: center;
    color: white;
}